/*初始化*****************************************/
*{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	font-family: "微软雅黑";
	font-size: .8em;
}
body{
	
	width: 1348px;
	overflow-y: scroll;
	background: url('../image/body_bg.jpg') no-repeat 50% 0 #f5e9d3;
}
.clearfix{
	
	clear: both;
}
.relative{
	
	position: relative;
}
a{
	text-decoration: none;
	color: #666;
}
ul{
	list-style-type: none;
}
/*初始化结束*/
/*header****************************************/
.header{
	
	position: fixed;
	width: 1348px;
	height: 48px;
	border-top: 2px solid #fa7d3c;
	border-bottom: 1px solid #f5f5f5;
	box-shadow: 0 0 5px 3px rgba(0,0,0,.2);
	background-color: rgba(255,255,255,.9);
	z-index: 10;
}
/*header 的内包围 header的内容都在内包围中*****/
.headerInner{
	
	width: 1280px;
	height: 48px;
}
.headerInner >div{
	
	float: left;
}
/*logo*/
.logo{
	
	width: 140px;
	height: 48px;
}
.logo>a{
	
	display: block;
	width: 140px;
	height: 48px;
	background: url('../icon/logo.png') no-repeat 47% 41%;
}
/*搜索框*/
.search{
	
	width: 470px;
	height: 30px;
	margin-top: 9px;
	background-color: #f2f2f5;
	border: 1px solid #ccc;
	color: #999;
}
.search:hover{
	
	border: 1px solid #fa7d3c;
}
.search >span{
	
	position: absolute;
	display: inline-block;
	left: 0;
	height: 28px;
	line-height: 28px;
	text-align: left;
	padding-left: 8px;
	z-index: 10;
}
.search >input{
	
	position: absolute;
	left: 0;
	display: block;
	width: 440px;
	height: 28px;
	padding: 0 8px;
	text-align: left;
	background-color: #f2f2f5;
	outline: none;
	border: none;
}
.search >a{
	
	position: absolute;
	right: 5px;
	display: block;
	width: 18px;
	height: 28px;
	background: url('../icon/search-link.jpg') no-repeat 0 #f2f2f5;
}
.search >a:hover{
	
	background: url('../icon/search-hover.jpg') 0;
}
/*设置栏*/
.navConfg,
.nav,
.confg{
	display: inline-block;	
}
.navConfg
{
	height: 48px;
	float: right!important;
}
.nav{
	
	height: 26px;
	margin-top: 12px;
	padding-right: 40px;
	float: left;
	border-right: 1px solid rgba(200,200,200,.7);
}
.nav >ul >li{
	
	display: inline-block;
	padding-right: 20px;
	margin-right: 10px;
}
.nav >ul >li >a{
	
	display: inline-block;
}
.nav .home{
	
	width: 66px;
	height: 26px;
	background: url('../icon/home-hover.png') no-repeat 0 0;
}
.nav .discover{
	
	width: 62px;
	height: 26px;
	background: url('../icon/discover-s.png') no-repeat 0 -2px;
}
#loginUser >span{

	padding-left: 30px;
	font-size: 2.5 em;
	color: #222;
}
#loginUser{
	
	top: -10px;
	height: 26px;
	background: url('../icon/user.png') no-repeat 0 -4px;
}
.nav .discover:hover{

	background: url('../icon/discover-hover.png') no-repeat 2px 1px;
}
#loginUser:hover{

	color: #fa7d3c;
	background: url('../icon/user-hover.bmp') no-repeat 2px -2px;
}
.confg{
	
	margin-top: 12px;
	margin-left: 24px;
	float: right;
}
.confg >div{
	
	display: inline-block;
	width: 26px;
	height: 23px;
	padding-bottom: 10px;
	margin-right: 20px;
}
#massageConfg{
	
	background: url('../icon/massage-link.jpg') no-repeat -3px -3px;
}
#massageConfg:hover{
	
	cursor: pointer;
	background: url('../icon/massage-hover.jpg') no-repeat -3px -3px;
}
#userConfg{
	
	background: url('../icon/setting-link.jpg') no-repeat -3px -3px;
}
#userConfg:hover{
	
	cursor: pointer;
	background: url('../icon/setting-hover.jpg') no-repeat -3px -3px;
}
#editFast{
	
	background: url('../icon/edit.jpg') no-repeat -7px -3px;
}
#editFast:hover{
	
	cursor: pointer;
}
/*header 的样式结束*******************************/
/*隐藏项设置**/
#massageConfgHd,
#userConfgHd{
	
	position: absolute;
	top: 30px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #eee;
}
#massageConfgHd{
	
	left: -14px;
}
#userConfgHd
{
	left: 40px;
}
#massageConfgHd >ul >li,
#userConfgHd >ul >li{
	
	text-align: left;
	padding: 10px 10px 10px 5px;
}
#massageConfgHd,
#userConfgHd{
	
	display: none;
}
/*main*/
.main >div{
	
	padding-top: 140px;
	width: 920px;
	min-height: 900px;
}
/*个人信息块*/
.personalInfo{
		
	width: 920px;
	height: 250px;
}
.personalInfo >div{
	
	margin-top: 8px;
}
#personalImg{
	
	width: 100px;
	height: 100px;	
	border-radius: 50%;
	border: 2px solid #f5e9d3;
	overflow: hidden;
}
.personalInfo >div >img{
	
	width: 100px;
	height: 100px;
}
#personalImg:hover{
	
	border: 2px solid #fa7c3d;
	box-shadow: 0 0 2px 2px #fa7c3d;
}
#personalName{
	
	display: inline-block;
	color: #fff;
	font-size: 19px;
	text-shadow: 2px 3px 2px #888;
}
#sexIcon{
	
	display: inline-block;
	height: 20px;
	width: 20px;
	background-color: #fff;
	margin-left: 6px;
	background: url('../icon/newicon.png')no-repeat -125px -50px;
}
#motto{
	
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 2px 1px #888;
}
/*主要内容*/
.myHome{
	
	background-color: #fff;
	padding-top: 20px;
	text-align: left;
}
.myHome >a{
	
	padding: 0 20px;
	color: #777;
	font-size: 16px;
	margin-left: 150px;
	border-bottom: 3px solid #fa7c3d;
}
.multiInfo{
	
	width: 920px;
	margin-top: 20px;
}
/*左导航*/
.leftNav{
	
	width: 300px;
	padding: 25px 0  15px;
	float: left;
	background-color: #fff;
}
.leftNav >div{
	
	display: inline-block;
	padding: 0 13px;
}
.leftNav >div:not(:last-child){
	
	border-right: 1px solid #eee;
}
.leftNav >div:hover{
	
	cursor: pointer;
	color: #fa7c3d;
}
/*右侧信息展示区(关注)*/
.wrapDiv{
	
	padding: 10px;
	margin-top: 10px;
	background-color: #fff;
}
.attendList{
	
	width: 280px;
	height: 116px;
	overflow: hidden;
	float: left;
	margin: 15px 0 0 6px;
	background-color: #efefef;
}
.attendImg{
	
	width: 60px;
	height: 60px;
	border-radius: 30px;
	margin: 4px 5px 0;
	overflow: hidden;
}
.attendImg >img{
	
	width: 60px;
	height: 60px;
}
.attendList >div{
	
	display: inline-block;
	margin: 15px 5px 10px;
}
.words{
	
	width: 190px;
	color: #888;
	font-size: 15px;
	float: right;
}
.words >p{
	
	text-align: left;
	margin-top: 8px;
}
/*取消关注按钮以及关注按钮*/
.cancelAttention{

	display: inline-block;
	width: 66px;
	height: 16px;
	margin-top: 10px;
	line-height: 16px;
	border: 1px solid #eee;
	background-color: #fff;
	box-shadow: 0 0 1px 1px #fff;
	border-radius: 1px;
}
.cancelAttention:hover{

	cursor: pointer;
	color: #fa7c3d;
}
.cancelAttention >span:first-child{

	display: inline-block;
	width: 14px;
	height: 14px;
	background: url('../icon/icon.png') no-repeat -99px -248px;
}
.attended,
.unAttended{

	display: inline-block;
	width: 75px;
	height: 16px;
	line-height: 16px;
	padding: 4px 0;
	background-color: #fa7c3d;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 0 3px 1px #fff;
}
.attended >a,
.unAttended >a{

	color: #fff;
}
.attended >a:first-child,
.unAttended >a:first-child{

	display: inline-block;
	height: 11px;
	width: 11px;
	margin-right: 5px;
}
.attended >a:first-child{

	background: url('../icon/icon.png') no-repeat -75px -249px;
}
.unAttended >a:first-child{

	background: url('../icon/add.png') no-repeat -4px -4px;
}
/*取消关注按钮以及关注按钮 样式结束*/
/*footer*/
.footer{
	
	height: 200px;
	line-height: 200px;
	margin-top: 15px;
	background-color: #fff;
}
/*右侧信息展示区(评论、点赞、收藏、分享  以及关注的)*/
.attendDetailShow{
	
	width: 600px;
	float: right;
}
/*右侧信息展示区(评论、点赞、收藏、分享       以及关注的)*/
.lable{
	
	background-color: #fff;
	padding-top: 20px;
	text-align: left;
}
.lable >a{
	
	font-size: 15px;
	padding: 0 26px;
	border-bottom: 3px solid #fa7c3d;
	margin-left: 30px;
}
